<div class="container">
  <div class="row">
    <div class="col-12">
      <% @items.each do  |item| %>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= item.item_name %></h5>
            <p class="card-text"><%= item.genre.name %></p>
            <p class="btn btn-primary">
              <%= link_to edit_store_item(item.id) do %>
                <%= item.price %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>