<div class="container">
  <div class="row">
    <div class="col-12">
      <% @reshipes.each do |reshipe| %>
        <% image_tag reshipe.image, size: "200x200" %>
        <% reshipe.title%>
        <% reshipe.body %>
      <% end %>
    </div>
  </div>
</div>