<div class="container">
  <div class="row">
    <div class="col-12">
      <% @store.each do  |store|%>
       <%= store.store_name %>
       <%= store.introduction %>
       <%= store.email %>
      <% end %>
    </div>
  </div>
</div>