<div class="container">
  <div class="row">
    <div class="col-12">
      <%= @items.each do |item| %>
        <%= item.item_name %>
        <% if item.discount %>
          <%= item.price %>
        <% else %>
          <p>セール</p>
          <%= item.sale_price %>
        <% end %>
    </div>
  </div>
</div>
